.form{
    width: 350px;
    background-color: #cdcdcd;
    display: flex;
    flex-direction: column;
    padding: 0px;
    color: #d62e71;
    border-radius: 5px;
    align-items: center;
    padding-bottom: 10px;
}

.label{
    font-size: 18px;
    margin: 0;
}

input{
    border: solid 1px #32b0cd;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 30px;
    width: 200px;
    text-align: center;
}

button{
    background-color: #d62e71;
    border: none;
    color: white;
    height: 30px;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
}
